.bracket {
    display: flex;
    flex-direction: row;
    /* Makes the rounds spread horizontally */
    padding: 25px;
    margin: 25px;
    border: 2px solid #0900b8;
    background-color: #cfe2ff;
    /* Is the primary-subtle colour from bootstrap */
    /* Making an aesthetic to match the theme */
    justify-content: space-evenly;
    /* Spaces the round columns evenly in the bracket, will adapt depending on number of rounds */
}

.round {
    display: flex;
    flex-direction: column;
    /* Makes the matches in the round list vertically */
    padding: 10px;
    /* Spaces the rounds out */
    justify-content: space-evenly;
    /* Spaces the matches evenly through the round division */
}

.match {
    display: flex;
    flex-direction: column;
    /* Makes the players list vertically */
    padding: 10px;
    border: 2px solid #0275d8;
    /* Is the primary colour from bootstrap */
    background-color: #FBFBFB;
    /* Is the light colour from bootstrap */
    margin: 10px;
    /* Making an aesthetic to match the theme */
}


.success {
    background-color: #ddffdd;
    border: 3px solid #04AA6D;
}
/* Makes the tournament winner congratulations have a green background and left sided border */

.navyBorder {
    border: 1px solid #0900b8;
    /* Gives the applied a navy border */
}